@import url(https://fonts.googleapis.com/css?family=Khula:700);

html, body 
{
    background-color: #3AAFA9;
    height: 100%;
    margin: 0;
}

.pozacumine
{
    position: absolute;
    bottom: 40px;
    right: -50px;
    width: auto;
    z-index: 0;
}

#poza
{
    opacity: 0.8;
}

.text-mainpagae
{
    position: absolute;
    top:20px;
    left: 260px;
    color: #FFFEFF;
    font-size:80px;
    font-weight: 900px;
    
}



.hidden {
    opacity:0;
  }
  .console-container {
   
    font-family:Khula;
    font-size:80px;
    text-align:center;
    height:200px;
    width:600px;
    display:flex;
    position:absolute;
    color:white;
    top:425px;
    left:560px;
    margin:auto;
  }
  .console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }

  #nume
  {
      display:inline-block;
      color: #faed26;
  }


  .container-button {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top:55%;
    left:27%;
    margin-left: -65px;
    margin-top: -20px;
    width: 1000px;
    height: 40px;
    text-align: center;
    display: inline-block;
  }
  button {
    outline:none;
    height: 140px;
    text-align: center;
    width: 380px;
    border-radius:35px;
    background: #faed26;
    border: 3px solid #faed26;
    color: #26272b;
    letter-spacing:1px;
    text-shadow:0;
    font-size:30px;
    font-weight:bold;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-right: 100px;
  }
  button:hover {
      background: #fffeff;
    }


  